.thecity
{
  width:100%;
  height:100%;
  position:absolute;
  display:inline-block;
  top:0;
  opacity:.8;
  @include background(image-url("thecity.svg") no-repeat);
}

//rollovers/offs for soc icons===========
//
.soc-icons
{
  display:block;
  overflow:hidden;
  width:48px;
  height:48px;
  background-repeat:no-repeat;
  margin-bottom:$default-margin/2; 
}

.twitter
  {
    @include background(image-url('soc/icon_sprite.png') -250px 0);
    background-repeat:no-repeat;
  }
  
  .facebook
  {
    @include background(image-url('soc/icon_sprite.png')-100px 0);
    background-repeat:no-repeat;
  }
  
  .google
  {
    @include background(image-url('soc/icon_sprite.png')-150px 0);
    background-repeat:no-repeat;
  }
  
  .email
  {
    @include background(image-url('soc/icon_sprite.png') -50px 0);
    background-repeat:no-repeat;
  }
  
  .spotify
  {
    @include background(image-url('soc/icon_sprite.png')-200px 0);
    background-repeat:no-repeat;
  }
  
  .download
  {
    @include background(image-url('soc/icon_sprite.png'));
    background-repeat:no-repeat;
  }

.menu-box
{
  @include animate();
  @include content-box-left($black, $lt-outline, .8, 7px);
  width:93px;
  height:349px;
  position:absolute;
  top:0px;
  z-index: 1000;
  padding:0;
  margin:0;
  cursor: pointer;
  opacity:.45;
  
  &:after,
  &:before 
  {
    @include triangle-before-after();
    right:100%;
    top:30%;
  }
  //the bg
  &:after 
  {
     @include triangle-right(30px, 20px, 20px, $black);
     z-index: 1;
  }
  //the outline
  &:before 
  {
    @include triangle-right(31px, 21px, 21px, $lt-outline);
     margin-top:-1px;
    margin-left:-1px;
    z-index:-100;//put it below the bg triangle
  }

   @media (min-width:$large-screen)
      {
        width:210px;
        height:449px;
      }
}
            
.menu-box-active
{
 opacity:1;
}
            
.menu-box-right
{
  right:-48px;
  @media (min-width:$large-screen)
      {
        right:-174px;
      }
   @media (min-width:$x-large-screen)
      {
       right:-174px;
      }
}
         
.menu-box-open
{
  right:-1px;
}

.menu-content
{
  color:$lt-outline;
  padding-left:$default-padding;
    overflow:   hidden;
  
  h3.menu-header
  {
    display:inline-block;
    padding:$default-padding/2 0;
  }
}
            

.hamburger-container
{
  @include background($black);
  border:$lt-outline 1px solid;
  width:50px;
  height:50px;
  position:absolute;
  top:10px;
  right:10px;
  z-index:1000;
  opacity:.8;
  overflow:hidden;
  
  .hamburger
  {
    @include background(image-url('asterisk.png'));
    @include background-size(80%);
    height:100%;    
    background-position:center;
    background-repeat:no-repeat;
  }
}

.underline
{
  @include background(image-url('underline.png'));
  background-size:60px auto;
   height:20px;
   background-repeat:no-repeat;
   overflow:hidden;
   margin:-20px 0 0 15px;
   
   @media (min-width: $x-small-screen +1) 
      {
        @include background(image-url('hamburger.png'));
          background-size:70px auto;
           height:25px;
           background-repeat:no-repeat;
           overflow:hidden;
           margin:-25px 0 0 20px;
      }
      
      @media (min-width: $medium-screen)
      {
        @include background(image-url('hamburger.png'));
          background-size:90px auto;
           height:33px;
           background-repeat:no-repeat;
           overflow:hidden;
           margin:-35px 0 0 20px;
      }
      
      @media (min-width:$large-screen)
      {
        @include background(image-url('hamburger.png'));
          background-size:120px auto;
           height:40px;
           background-repeat:no-repeat;
           overflow:hidden;
           margin:-40px 0 0 20px;
      }
}

.quote-by-content, .quote-content
{
  padding:$default-padding $default-padding/2;
  color:$lt-txt;
    
  @media (min-width: $medium-screen)
      {
        padding:$default-padding*2 $default-padding;
        margin:$default-padding $default-padding/2;
          
          p{
         font-size:18px; /*fallback*/
         font-size:1.8rem;
        }
      }   //min-width: $medium-screen)
    @media (min-width: $large-screen)
      {          
          p{
         font-size:20px; /*fallback*/
         font-size:2.0rem;
        }
      } //(min-width: $large-screen)
}

.quote-content
{
    margin:24px 0;
  @include content-box-right($md-bkgrnd, $lt-outline, 1, 7px);
  position:relative;  
}

.quote-content-wrapper
{
    margin:12px;
  &:after,
  &:before 
  {
    @include triangle-before-after();
    left:52%;
    top:100%;
  }
  //the bg
  &:after 
  {
     @include triangle-bottom(30px, 35px, 35px, $md-bkgrnd);
     z-index: 1;
  }
  //the outline
  &:before 
  {
    @include triangle-bottom(31px, 36px, 36px, $md-bkgrnd);
     margin-top:-1px;
    margin-right:-1px;
    z-index:-100;//put it below the bg triangle
  }
    
    @media(min-width:$medium-screen)
     {   
         &:after,
          &:before 
          {
            left:94%;
            top:25%;
          }
          //the bg
          &:after 
          {
             @include triangle-left(40px, 45px, 45px, $md-bkgrnd);
             z-index: 1;
          }
          //the outline
          &:before 
          {
            @include triangle-left(41px, 46px, 46px, $md-bkgrnd);
             margin-top:-1px;
            margin-right:-1px;
            z-index:-100;//put it below the bg triangle
          }
     }//media
    
    @media(min-width:$large-screen)
     { 
         &:after,
          &:before 
          {
            left:99%;
          }
     }//media
}
.quote-by-content h4
{
  font-family:$secondary-font;
  color:$graf-txt;
}

.quote-mark
{
  font-family:$secondary-font;
  font-size:$ex-large-font-size + .2;
  display:inline-block;
  line-height:.1;
  padding:6px 12px;
  color:$graf-txt;
  
  &:last-child
  {
    position:absolute;
    left:84%;
    bottom:2%;
    
    @media (min-width: $medium-screen)
      {
        left:80%;
        bottom:4%;
      }
  }
}
.carousel-control
{
    top:30%;
}
.carousel-control.left, .carousel-control.right //reset
{
  background:none;
}
.quote-arrows-left, .quote-arrows-right
{
  font-family:$secondary-font;
  font-size:6em;
  color:$lt-txt;
    @media(min-width:$medium-screen)
     { 
         font-size:$ex-ex-large-font-size;
     }
}

.author-image
{
  //make quote box here
}

