//
//MAIN DOC STYLES=========================================== MAIN STYLES
//


//
//HEADER STYLES=========================================== HEADER STYLES
//
header
{
  position:relative;
  
  .cover-photo
  {
     @include single-transition(all, $transition-time, ease-out);
      position: relative;
      display: block;
      width: 100%;
      height: 200px;
      margin: 0 auto;
      border-bottom:$dark-yellow 1px solid;
      @include background(linear-gradient(bottom left, rgba($black, .7), rgba($black, 0)), image-url("bike_xs.jpg"), $dark-yellow);
      background-repeat: no-repeat;
      background-position: center center;
      $background-size:cover;
      
      @media (min-width: $x-small-screen +1) 
      {
        @include single-transition(all, $transition-time, ease-out);
        @include background(linear-gradient(bottom left, rgba($black, .7), rgba($black, 0)),image-url("bike_sm.jpg"), $dark-yellow);
        background-position: right center;
        height: 300px;
      }
  
      
      @media (min-width: $medium-screen)
      {
        @include single-transition(all, $transition-time, ease-out);
        @include background(linear-gradient(bottom left, rgba($black, .7), rgba($black, 0)),image-url("bike_md.jpg"), $dark-yellow);
        background-position: right center;
        height: 350px;
      }
  
     @media (min-width:$large-screen)
      {
        @include single-transition(all, $transition-time, ease-out);
        @include background(linear-gradient(bottom left, rgba($black, .7), rgba($black, 0)),image-url("bike_lg.jpg"), $dark-yellow);
        background-position: right center;
        height: 450px;
      }
  
     @media (min-width:$x-large-screen)
      {
        @include single-transition(all, $transition-time, ease-out);
        @include background(linear-gradient(bottom left, rgba($black, .6), rgba($black, 0)),image-url("bike_xlg.jpg"), $dark-yellow);
        background-position: right center;
        height: 600px;
      }
      
      .title, .by-me
      {
        padding-left:$default-padding/2;
        @media (min-width: $medium-screen)
        {
          @include single-transition(all, $transition-time, ease-out);
          padding-left:$default-padding;
        }
      }
      
      .title
      {
        padding-top:$default-padding*4;
        max-height:150px;
        overflow:hidden;
        width:100%;
        img.pmr
        {
          display:block;
          width:85%;
          
          @media (min-width:$large-screen)
          {
            width:852px;
          }
        }//pmr
        
        @media (min-width: $x-small-screen +1) 
        {
          @include single-transition(all, $transition-time, ease-out);
          padding-top:$default-padding*6;
          max-height:220px;
        }
        
        @media (min-width: $medium-screen)
        {
          @include single-transition(all, $transition-time, ease-out);
          padding-top:$default-padding*7;
          max-height:280px;
        }
        
        @media (min-width:$large-screen)
        {
          @include single-transition(all, $transition-time, ease-out);
          padding-top:$default-padding*8;
          max-height:300px;
        }
        
        @media (min-width:$x-large-screen)
        {
          @include single-transition(all, $transition-time, ease-out);
          padding-top:$default-padding*14;
          max-height:460px;
        }
        
      }//title
      
      .by-me
      {
        h2
        {
          font-family:$secondary-font;
          font-size:20px; /*fallback*/
          font-size:2rem;
          
           @media (min-width: $x-small-screen +1) 
          {
            @include single-transition(all, $transition-time, ease-out);
            font-size:24px; /*fallback*/
            font-size:2.4rem;
          }
          
          @media (min-width: $medium-screen)
          {
            @include single-transition(all, $transition-time, ease-out);
            font-size:32px; /*fallback*/
            font-size:3.2rem;
          }
          
          @media (min-width:$large-screen)
          {
            @include single-transition(all, $transition-time, ease-out);
            font-size:38px; /*fallback*/
            font-size:3.8rem;
          }
        }//h2
        
      }//by-me
  }
}

//
//FOOTER STYLES=========================================== FOOTER STYLES
//
footer
{
  @include clearfix;
}
ul
{
  float:left;
  li
  {
    display:inline-block;
    margin:0 0 0 2em;
  }
}

footer p
{
  color:$dark-grey;
  font-size:$small-font-size;
  margin:1em;
}
