//
//MAIN DOC STYLES=========================================== MAIN STYLES
//


//
//HEADER STYLES=========================================== HEADER STYLES
//
header
{
  position:relative;
  
  .cover-photo
  {
     @include animate();
      position: relative;
      display: block;
      width: 100%;
      height: 200px;
      margin: 0 auto;
      border-bottom:$dark-yellow 1px solid;
      @include background(linear-gradient(bottom left, rgba($black, .7), rgba($black, 0)),image-url("bike_xs.jpg") center top no-repeat, $dark-yellow);
      $background-size:cover;
      
      @media (min-width: $x-small-screen +1) 
      {
        @include animate();
        @include background(linear-gradient(bottom left, rgba($black, .7), rgba($black, 0)),image-url("bike_sm.jpg") center top no-repeat, $dark-yellow);
        height: 300px;
      }
  
      
      @media (min-width: $medium-screen)
      {
        @include animate();
        @include background(linear-gradient(bottom left, rgba($black, .7), rgba($black, 0)),image-url("thecity.svg") center bottom no-repeat, image-url("bike_md.jpg") center top no-repeat, $dark-yellow);
        height: 350px;
      }
  
     @media (min-width:$large-screen)
      {
        @include animate();
        @include background(linear-gradient(bottom left, rgba($black, .7), rgba($black, 0)),image-url("thecity.svg") center bottom no-repeat, image-url("bike_lg.jpg") center top no-repeat, $dark-yellow);
        height: 450px;
      }
  
     @media (min-width:$x-large-screen)
      {
        @include animate();
        @include background(linear-gradient(bottom left, rgba($black, .6), rgba($black, 0)),image-url("thecity.svg") center bottom no-repeat, image-url("bike_xlg.jpg") center top no-repeat, $dark-yellow);
        height: 600px;
      }
      
      .title, .by-me
      {
        padding-left:$default-padding/2;
        @media (min-width: $medium-screen)
        {
          @include animate();
          padding-left:$default-padding;
        }
      }
      
      .title
      {
        padding-top:$default-padding*4;
        max-height:150px;
        overflow:hidden;
        width:100%;
        img.pmr
        {
          display:block;
          width:80%;
          
          
          @media (min-width:$medium-screen)
          {
            width:528px;
          }
          
          @media (min-width:$large-screen)
          {
            width:852px;
          }
          
          
        }//pmr
        
        @media (min-width: $x-small-screen +1) 
        {
          @include animate();
          padding-top:$default-padding*6;
          max-height:220px;
        }
        
        @media (min-width: $medium-screen)
        {
          @include animate();
          padding-top:$default-padding*9;
          max-height:280px;
        }
        
        @media (min-width:$large-screen)
        {
          @include animate();
          padding-top:$default-padding*11;
          max-height:365px;
        }
        
        @media (min-width:$x-large-screen)
        {
          @include animate();
          padding-top:$default-padding*16;
          max-height:500px;
        }
        
      }//title
      
      .by-me
      {
        h2
        {
          font-family:$secondary-font;
          font-size:20px; /*fallback*/
          font-size:2rem;
          
           @media (min-width: $x-small-screen +1) 
          {
            @include animate();
            font-size:24px; /*fallback*/
            font-size:2.4rem;
          }
          
          @media (min-width: $medium-screen)
          {
            @include animate();
            font-size:32px; /*fallback*/
            font-size:3.2rem;
          }
          
          @media (min-width:$large-screen)
          {
            @include animate();
            font-size:38px; /*fallback*/
            font-size:3.8rem;
          }
        }//h2
        
      }//by-me
  }
}

.map-content
{
  padding:$default-padding 0;
}

.bio
{
  padding-bottom:$default-padding;
  
  .author-image
  {
    
    @include border-radius(50%);
    height:200px;
    width:200px;
    @include background(image-url('bio-sm.jpg') no-repeat, $dark-yellow);
    
    @media(min-width:$medium-screen)
    {
      @include background(image-url('bio.jpg') no-repeat, $dark-yellow);
      height:480px;
      width:480px;
    }
    
  }
  
  .author-bio
  {
    .author-bio-name
    {
      font-family:$secondary-font;
      color:$blue;
    }
  }
}

//
//FOOTER STYLES=========================================== FOOTER STYLES
//
footer, .footer-content
{
  padding:$default-padding $default-padding/2;  
  background:$dark-yellow;
}
footer
{
  margin-top:$default-padding;
}
footer p
{
  color:$dark-grey;
  font-size:$medium-font-size;
  margin:1em;
}
.copyright-stuff
{
  font-size:$small-font-size;
  margin-top:.5em;
}
