@mixin drop-shadow($shadow1:$color1 $h-offset1 $v-offset1 $blur1, $shadow2: $color2 $h-offset2 $v-offset2 $blur2, $shadow3:$color3 $h-offset3 $v-offset3 $blur3, $shadow4: $color4 $h-offset4 $v-offset4 $blur4)
{
  @include box-shadow($shadow1, $shadow2, $shadow3, $shadow4);
}

@mixin content-box($bg-color:$yellow, $border-color:$white, $alpha:1)
{
  @include background($bg-color);
  border:1px solid $border-color;
  opacity:$alpha;
  height:100%;
}

@mixin content-box-right($bg-color, $border-color, $alpha:1, $border-radius:7)
{
  @include content-box($bg-color, $border-color, $alpha);
  @include border-top-right-radius($border-radius);
  @include border-bottom-right-radius($border-radius);
}

@mixin content-box-left($bg-color, $border-color, $alpha:1, $border-radius:7)
{
  @include content-box($bg-color, $border-color, $alpha);
  @include border-top-left-radius($border-radius);
  @include border-bottom-left-radius($border-radius);
}

@mixin triangle-right($border-right-length, $border-top-length, $border-bottom-length, $color)
{
  border-right:$border-right-length solid $color;
  border-top:$border-top-length solid transparent;
  border-bottom:$border-bottom-length solid transparent;
}

@mixin triangle-left($border-left-length, $border-top-length, $border-bottom-length, $color)
{
  border-left:$border-left-length solid $color;
  border-top:$border-top-length solid transparent;
  border-bottom:$border-bottom-length solid transparent;
}

@mixin triangle-top($border-bottom-length, $border-right-length, $border-left-length, $color)
{
  border-bottom:$border-bottom-length solid $color;
  border-right:$border-right-length solid transparent;
  border-left:$border-left-length solid transparent;
}

@mixin triangle-bottom($border-top-length, $border-right-length, $border-left-length, $color)
{
  border-top:$border-top-length solid $color;
  border-right:$border-right-length solid transparent;
  border-left:$border-left-length solid transparent;
}

@mixin triangle-before-after()
{
  width:0;
  height:0;
  display:block;
  position:absolute;
  content: "";
}

@mixin animate()
{
  @include single-transition(all, $transition-time, ease-out);
}
