//fonts====================================

$main-font: 'roadgeek_2005_series_fregular';
$secondary-font: 'bring_tha_noizeregular';
$font-size:24px;
$line-height:18px;
$ex-small-font-size:.75em;
$small-font-size:1em;
$medium-font-size:1.2em;
$large-font-size:1.6em;
$ex-large-font-size:2em;
$ex-ex-large-font-size:8.35em;

//colors ===================================
$black:#101010;

$lt-txt:#ededed;
$dk-txt:#1e2d3c;
$graf-txt:#7ebefb;
$link-txt:#6e6e6e;
$link-hover-txt:#fac63f;

$lt-bkgrnd:#ededed;
$md-bkgrnd:#3e5d7c;
$dk-bkgrnd:#1e2d3c;

$lt-outline:#1e2d3c;
$dk-outline:#3e5d7c;

//screen sizes ===============================
//100% = 1 em ~= 16px ~= 14pt
//CHANGE THIS TO FIT REMS
//
$x-small-screen: 500px; //500/16
$small-screen:  680px; //680/16
$medium-screen: 768px; //768/16
$large-screen: 1024px; //1280/16
$x-large-screen: 1500px; //1920/16

//margin + padding ===========================
$default-margin:12px;
$default-padding:24px;


//transitions==================================
//
$transition-time: .7s;
$alpha-start: .6;
$alpha-end: 1;

//shadows======================================
//
$color1:rgba(0, 0, 0, .25);
$h-offset1:2px;
$v-offset1:2px;
$blur1:2px;
$color2:rgba(0, 0, 0, .25);
$h-offset2:-2px;
$v-offset2:-2px;
$blur2:2px;
$color3:rgba(0, 0, 0, .25);
$h-offset3:-2px;
$v-offset3:2px;
$blur3:2px;
$color4:rgba(0, 0, 0, .25);
$h-offset4:2px;
$v-offset4:-2px;
$blur4:2px;

