@charset "UTF-8";
/* line 5, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Users/apple/.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'bring_tha_noizeregular';
  src: url("../../fonts/bringthanoize-webfont.eot");
  src: url("../../fonts/bringthanoize-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/bringthanoize-webfont.woff2") format("woff2"), url("../../fonts/bringthanoize-webfont.woff") format("woff"), url("../../fonts/bringthanoize-webfont.ttf") format("truetype"), url("../../fonts/bringthanoize-webfont.svg#bring_tha_noizeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'roadgeek_2005_series_fregular';
  src: url("../../fonts/roadgeek2005seriesf-webfont.eot");
  src: url("../../fonts/roadgeek2005seriesf-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roadgeek2005seriesf-webfont.woff2") format("woff2"), url("../../fonts/roadgeek2005seriesf-webfont.woff") format("woff"), url("../../fonts/roadgeek2005seriesf-webfont.ttf") format("truetype"), url("../../fonts/roadgeek2005seriesf-webfont.svg#roadgeek_2005_series_fregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
 * $rembase:10px;
 * $line-height-base:37
 */
/* line 40, ../components/sass/_base.scss */
html {
  font-size: 62.5%; }

/* line 44, ../components/sass/_base.scss */
body {
  font-family: "roadgeek_2005_series_fregular" !important;
  font-size: 10px;
  /*fallback*/
  font-size: 1.0rem;
  /* 10/$rembase */
  line-height: 1.542;
  /* $line-height-base ÷ $fontbase */ }

/* line 51, ../components/sass/_base.scss */
h1 {
  font-size: 62px;
  /*fallback*/
  font-size: 6.2rem;
  /*62/$rembase*/
  line-height: 2.583;
  /* $line-height-base ÷ 62*/ }

/* line 57, ../components/sass/_base.scss */
h2 {
  font-size: 52px;
  /*fallback*/
  font-size: 5.2rem;
  /*52/$rembase*/
  line-height: 2.16; }

/* line 63, ../components/sass/_base.scss */
h3 {
  font-size: 38px;
  /*fallback*/
  font-size: 3.8rem;
  /*38/$rembase*/
  line-height: 1.583; }

/* line 69, ../components/sass/_base.scss */
h4 {
  font-size: 32px;
  /*fallback*/
  font-size: 3.2rem;
  /*32/$rembase*/
  line-height: 1.333; }

/* line 75, ../components/sass/_base.scss */
p {
  font-size: 24px;
  /*fallback*/
  font-size: 2.4rem;
  /*24/$rembase*/
  line-height: 1; }

/* line 82, ../components/sass/_base.scss */
.type-by-line {
  color: #7ebefb; }

/* line 89, ../components/sass/_base.scss */
body {
  color: #efefef;
  background: #fac640; }

/* line 95, ../components/sass/_base.scss */
.container-fluid {
  padding: 0; }

/* line 103, ../components/sass/_base.scss */
a {
  text-decoration: none;
  color: #7ebefb; }
  /* line 108, ../components/sass/_base.scss */
  a:hover {
    color: #0880f2;
    text-decoration: none; }

/* line 9, ../components/sass/_layout.scss */
header {
  position: relative; }
  /* line 13, ../components/sass/_layout.scss */
  header .cover-photo {
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-bottom: #e7ba46 1px solid;
    background: -moz-linear-gradient(bottom left, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_xs.jpg?1417757900'), #e7ba46;
    background: -webkit-linear-gradient(bottom left, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_xs.jpg?1417757900'), #e7ba46;
    background: linear-gradient(to top right, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_xs.jpg?1417757900'), #e7ba46;
    background-repeat: no-repeat;
    background-position: center center; }
    @media (min-width: 501px) {
      /* line 13, ../components/sass/_layout.scss */
      header .cover-photo {
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        -webkit-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        background: -moz-linear-gradient(bottom left, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_sm.jpg?1417757900'), #e7ba46;
        background: -webkit-linear-gradient(bottom left, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_sm.jpg?1417757900'), #e7ba46;
        background: linear-gradient(to top right, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_sm.jpg?1417757900'), #e7ba46;
        background-position: right center;
        height: 300px; } }
    @media (min-width: 768px) {
      /* line 13, ../components/sass/_layout.scss */
      header .cover-photo {
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        -webkit-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        background: -moz-linear-gradient(bottom left, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_md.jpg?1417757900'), #e7ba46;
        background: -webkit-linear-gradient(bottom left, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_md.jpg?1417757900'), #e7ba46;
        background: linear-gradient(to top right, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_md.jpg?1417757900'), #e7ba46;
        background-position: right center;
        height: 350px; } }
    @media (min-width: 1024px) {
      /* line 13, ../components/sass/_layout.scss */
      header .cover-photo {
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        -webkit-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        background: -moz-linear-gradient(bottom left, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_lg.jpg?1417757900'), #e7ba46;
        background: -webkit-linear-gradient(bottom left, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_lg.jpg?1417757900'), #e7ba46;
        background: linear-gradient(to top right, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0)), url('../../images/build/bike_lg.jpg?1417757900'), #e7ba46;
        background-position: right center;
        height: 450px; } }
    @media (min-width: 1500px) {
      /* line 13, ../components/sass/_layout.scss */
      header .cover-photo {
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        -webkit-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        background: -moz-linear-gradient(bottom left, rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0)), url('../../images/build/bike_xlg.jpg?1417757901'), #e7ba46;
        background: -webkit-linear-gradient(bottom left, rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0)), url('../../images/build/bike_xlg.jpg?1417757901'), #e7ba46;
        background: linear-gradient(to top right, rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0)), url('../../images/build/bike_xlg.jpg?1417757901'), #e7ba46;
        background-position: right center;
        height: 600px; } }
    /* line 60, ../components/sass/_layout.scss */
    header .cover-photo .title, header .cover-photo .by-me {
      padding-left: 12px; }
      @media (min-width: 768px) {
        /* line 60, ../components/sass/_layout.scss */
        header .cover-photo .title, header .cover-photo .by-me {
          -moz-transition: all 0.7s ease-out;
          -o-transition: all 0.7s ease-out;
          -webkit-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
          padding-left: 24px; } }
    /* line 70, ../components/sass/_layout.scss */
    header .cover-photo .title {
      padding-top: 96px;
      max-height: 150px;
      overflow: hidden;
      width: 100%; }
      /* line 76, ../components/sass/_layout.scss */
      header .cover-photo .title img.pmr {
        display: block;
        width: 85%; }
        @media (min-width: 1024px) {
          /* line 76, ../components/sass/_layout.scss */
          header .cover-photo .title img.pmr {
            width: 852px; } }
      @media (min-width: 501px) {
        /* line 70, ../components/sass/_layout.scss */
        header .cover-photo .title {
          -moz-transition: all 0.7s ease-out;
          -o-transition: all 0.7s ease-out;
          -webkit-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
          padding-top: 144px;
          max-height: 220px; } }
      @media (min-width: 768px) {
        /* line 70, ../components/sass/_layout.scss */
        header .cover-photo .title {
          -moz-transition: all 0.7s ease-out;
          -o-transition: all 0.7s ease-out;
          -webkit-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
          padding-top: 168px;
          max-height: 280px; } }
      @media (min-width: 1024px) {
        /* line 70, ../components/sass/_layout.scss */
        header .cover-photo .title {
          -moz-transition: all 0.7s ease-out;
          -o-transition: all 0.7s ease-out;
          -webkit-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
          padding-top: 192px;
          max-height: 300px; } }
      @media (min-width: 1500px) {
        /* line 70, ../components/sass/_layout.scss */
        header .cover-photo .title {
          -moz-transition: all 0.7s ease-out;
          -o-transition: all 0.7s ease-out;
          -webkit-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
          padding-top: 336px;
          max-height: 460px; } }
    /* line 119, ../components/sass/_layout.scss */
    header .cover-photo .by-me h2 {
      font-family: "bring_tha_noizeregular";
      font-size: 20px;
      /*fallback*/
      font-size: 2rem; }
      @media (min-width: 501px) {
        /* line 119, ../components/sass/_layout.scss */
        header .cover-photo .by-me h2 {
          -moz-transition: all 0.7s ease-out;
          -o-transition: all 0.7s ease-out;
          -webkit-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
          font-size: 24px;
          /*fallback*/
          font-size: 2.4rem; } }
      @media (min-width: 768px) {
        /* line 119, ../components/sass/_layout.scss */
        header .cover-photo .by-me h2 {
          -moz-transition: all 0.7s ease-out;
          -o-transition: all 0.7s ease-out;
          -webkit-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
          font-size: 32px;
          /*fallback*/
          font-size: 3.2rem; } }
      @media (min-width: 1024px) {
        /* line 119, ../components/sass/_layout.scss */
        header .cover-photo .by-me h2 {
          -moz-transition: all 0.7s ease-out;
          -o-transition: all 0.7s ease-out;
          -webkit-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
          font-size: 38px;
          /*fallback*/
          font-size: 3.8rem; } }

/* line 154, ../components/sass/_layout.scss */
footer {
  overflow: hidden;
  *zoom: 1; }

/* line 158, ../components/sass/_layout.scss */
ul {
  float: left; }
  /* line 161, ../components/sass/_layout.scss */
  ul li {
    display: inline-block;
    margin: 0 0 0 2em; }

/* line 168, ../components/sass/_layout.scss */
footer p {
  color: #444444;
  font-size: 1em;
  margin: 1em; }

/* line 5, ../components/sass/_components.scss */
.soc-icons a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out; }
  /* line 10, ../components/sass/_components.scss */
  .soc-icons a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out; }

/* line 18, ../components/sass/_components.scss */
.hamburger-container {
  background: #101010;
  border: #8a8a8a 1px solid;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  opacity: .8;
  overflow: hidden; }
  /* line 31, ../components/sass/_components.scss */
  .hamburger-container .hamburger {
    background: url('../../images/build/asterisk.png?1417757900');
    -moz-background-size: 80%;
    -o-background-size: 80%;
    -webkit-background-size: 80%;
    background-size: 80%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat; }

/* line 41, ../components/sass/_components.scss */
.underline {
  background: url('../../images/build/hamburger.png?1417757902');
  background-size: 60px auto;
  height: 20px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: -20px 0 0 15px; }

@media (min-width: 501px) {
  /* line 53, ../components/sass/_components.scss */
  .underline {
    background: url('../../images/build/hamburger.png?1417757902');
    background-size: 70px auto;
    height: 25px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: -25px 0 0 20px; } }
@media (min-width: 768px) {
  /* line 67, ../components/sass/_components.scss */
  .underline {
    background: url('../../images/build/hamburger.png?1417757902');
    background-size: 90px auto;
    height: 33px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: -35px 0 0 20px; } }
@media (min-width: 1024px) {
  /* line 80, ../components/sass/_components.scss */
  .underline {
    background: url('../../images/build/hamburger.png?1417757902');
    background-size: 120px auto;
    height: 40px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: -40px 0 0 20px; } }
